<form [formGroup]="reportForm">
	<div class="heading-label" style="margin:auto; text-align: center;">
		<label >Report {{ receiver }}</label>
		<br/><br/>

		<mat-form-field>
			<input matInput formControlName="reason" placeholder="Reason...">
		</mat-form-field>

		<div>
			<button mat-raised-button style="color: white; background-color: #212121" (click)="submit()">SUBMIT</button>
			<button mat-raised-button style="margin-left: 10px;color: white; background-color: #212121" (click)="cancel()">CANCEL</button>
		</div>
	</div>
</form>
