<app-toolbar> </app-toolbar>

<div style="width:70%; text-align: center; margin-left: auto; margin-right: auto; padding-top: 10px;"> 

<div class="user-heading">
  Inbox
</div>

<div class="mat-elevation-z8" style="margin-right: auto; margin-left: auto">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="sender">
      <th mat-header-cell *matHeaderCellDef  style="text-align: center"> Sender </th>
      <td mat-cell *matCellDef="let element">{{ element.sender }}</td>
    </ng-container>

    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef  style="text-align: center"> Subject </th>
      <td mat-cell *matCellDef="let element"> 
      	<a *ngIf="element.opened == 0" style="text-decoration: none; cursor: pointer; font-weight: bold;" (click)="openMessage(element.id, element.sender, element.subject, element.content)"> {{element?.subject}}</a> 

      	<a *ngIf="element.opened == 1" style="text-decoration: none; cursor: pointer;" (click)="openMessage(element.id, element.sender, element.subject, element.content)"> {{element?.subject}} </a> 

      </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef  style="text-align: center"> Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp.substr(0, 10)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>
