<form [formGroup]="uploadForm">
	<div style="margin:auto; text-align: center;">
		<mat-form-field style="width:60%" >
			<input matInput formControlName="title" placeholder="Title">
		</mat-form-field>

		<input style="width:60%" formControlName="image" type="file" (change)="onFileChanged($event)">

		<br/>	<br/>

		<div>
			<button mat-raised-button style="color: white; background-color: #212121" (click)="upload()">UPLOAD</button>
			<button mat-raised-button style="margin-left: 10px;color: white; background-color: #212121" (click)="cancel()">CANCEL</button>
		</div>
	</div>
</form>
