<form [formGroup]="loginForm">
	<div style="margin:auto; text-align: center">
		<mat-form-field> 
			<input formControlName="username" matInput placeholder="Username">
		</mat-form-field>
		<br/>

		<mat-form-field>
			<input type="password"  formControlName="password" matInput placeholder="Password">
		</mat-form-field>
		<br/>

		<button mat-raised-button style="margin-left: auto; margin-right: auto; color: white; background-color: #212121" (click)="onSubmit()">Login</button>

		<br/><br/>

		<div class="error">
			{{ errorMessage }}
		</div>
	</div>
</form>
