<app-toolbar> </app-toolbar>

<div *ngIf="results.length > 0" style="width:70%; margin-right: auto; margin-left: auto">
	<div class="search-heading">
		Search results for '{{ input }}':
	</div>
	
	<br/>

	<app-meme-grid [isProfile]="false" [memes]="results"> </app-meme-grid>
</div>

<div *ngIf="results.length == 0" class="search-heading" style="text-align: center; font-size: 20pt;">
	<img src="assets/images/Okay.png" style="width:20%">
	<br/><br/>
	There are no memes for '{{ input }}'...
</div>