<table class="message">
	<tr>
		<td style="font-weight: bold;">
			Sender:
		</td>
		<td>
			{{sender}}
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold;">
			Subject:
		</td>
		<td>
			{{subject}}
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold;">
			Content:
		</td>
		<td>
			{{content}}
		</td>
	</tr>
</table>