<app-toolbar> </app-toolbar>

<div style="width:70%; text-align: center; margin-left: auto; margin-right: auto; padding-top: 10px;"> 

<div class="admin-heading">
  Report requests
</div>

<div class="mat-elevation-z8" style="margin-right: auto; margin-left: auto">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="reporter">
      <th mat-header-cell *matHeaderCellDef  style="text-align: center"> Reporter </th>
      <td mat-cell *matCellDef="let element"> <a style="text-decoration: none; cursor: pointer" [routerLink]="['/user', element.reporter]"> {{element.reporter}} </a> </td>
    </ng-container>

    <ng-container matColumnDef="receiver">
      <th mat-header-cell *matHeaderCellDef  style="text-align: center"> Receiver </th>
      <td mat-cell *matCellDef="let element"> <a style="text-decoration: none; cursor: pointer" [routerLink]="['/user', element.reciver]"> {{element.receiver}} </a> </td>
    </ng-container>

    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef  style="text-align: center"> Reason </th>
      <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
    </ng-container>
      
    <ng-container matColumnDef="options">
    	<th mat-header-cell *matHeaderCellDef  style="text-align: center"> Options </th>
      <td mat-cell *matCellDef="let element">
      	<mat-icon style="cursor: pointer;margin-right: 10px" (click)="approveReport(element.reporter, element.receiver)">done</mat-icon>
      	<mat-icon style="cursor: pointer;margin-left: 10px" (click)="disapproveReport(element.reporter, element.receiver)">close</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>
