<mat-grid-list [cols]="breakpoint" rowHeight="470px" (window:resize)="onResize($event)">
	<mat-grid-tile *ngFor="let meme of memes">
		<app-meme-card  [isProfile]="isProfile" [meme]="meme"> </app-meme-card>
	</mat-grid-tile>
</mat-grid-list>