<app-toolbar></app-toolbar>

<div class="main-div">
	<mat-card class="meme-card" style="display: flex; flex-direction: row">
		<mat-card-header >
			<div mat-card-avatar [style.background-image]="userImage" class="meme-user-image"></div>
			<mat-card-title> {{ user?.username }}  </mat-card-title>
			<mat-card-subtitle> {{ user?.name }} </mat-card-subtitle>
		</mat-card-header>

		<mat-card-header style="text-align: left">
			<mat-card-title> Joined: {{ user?.timestamp?.substring(0, 10) }}  </mat-card-title>
			<mat-card-subtitle> Total memes: {{ userMemes?.length }} </mat-card-subtitle>
		</mat-card-header>

		<mat-card-header style="margin-right: 0; margin-left: auto; vertical-align: middle">
			<button  mat-raised-button *ngIf="isCurrentUser()" style="margin-right: 10px" (click)="messages()"><mat-icon>message</mat-icon> INBOX</button>
			<button  mat-raised-button *ngIf="isCurrentUser() && !isBanned"  (click)="openUploadDialog()"><mat-icon>present_to_all</mat-icon> UPLOAD</button>
			<button  mat-raised-button *ngIf="isCurrentUser() && isBanned" disabled="true" (click)="openUploadDialog()"><mat-icon>present_to_all</mat-icon> UPLOAD</button>
			<button  mat-raised-button *ngIf="isReportable" (click)="report()"><mat-icon>error_outline</mat-icon> REPORT</button>

			<button style="background-color: #8F1500; color: #FFFFFF"  mat-raised-button *ngIf="isReported" disabled="true"><mat-icon>error_outline</mat-icon> REPORTED</button>
		</mat-card-header>
	</mat-card>

	<app-meme-grid [isProfile]="true" [memes]="userMemes"></app-meme-grid>
</div>