<app-toolbar> </app-toolbar>

<div style="width:70%; text-align: center; margin-left: auto; margin-right: auto; padding-top: 10px;"> 

<div class="admin-heading">
  Registration requests
</div>

<div class="mat-elevation-z8" style="margin-right: auto; margin-left: auto">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="username"> 
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Username </th>
      <td mat-cell *matCellDef="let element"> <a style="text-decoration: none; cursor: pointer" [routerLink]="['/user', element.username]"> {{element.username}} </a> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp.substr(0, 10)}} </td>
    </ng-container>
      
    <ng-container matColumnDef="options" >
    	<th mat-header-cell *matHeaderCellDef style="text-align: center"> Options </th>
      <td mat-cell *matCellDef="let element">
      	<mat-icon style="cursor: pointer; margin-right: 10px" (click)="approveRegistration(element.username)">done</mat-icon>
      	<mat-icon style="cursor: pointer; margin-left: 10px" (click)="disapproveRegistration(element.username)">close</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>
