<mat-toolbar class="menu-toolbar">
	<mat-toolbar-row>
  <div class="logo" (click)="home()">
    <img style="vertical-align: middle" src="assets/images/logo.png"/>
  </div>
  <div class="buttons">
  	<div class="search" >
  		<form *ngIf="isLoggedIn() && !isAdmin()" [formGroup]="searchForm" (keyup.enter)="search()">
			<input class="searchInput" formControlName="searchInput" matInput placeholder="SEARCH">
			<button type="submit" hidden="true">hehe</button>
	</form>
  	</div>

  	<div *ngIf="!isLoggedIn()">
  		<button (click)="openLoginDialog()" style="margin-right: 10px" mat-raised-button><mat-icon>person</mat-icon> LOGIN</button>
   		 <button (click)="openRegisterDialog()" mat-raised-button><mat-icon>person_add</mat-icon> REGISTER</button>
  	</div>
    
  	<div *ngIf="isLoggedIn()">
      <button *ngIf="isAdmin()" (click)="openRegistrations()" style="margin-right: 10px" mat-raised-button> Registrations</button>
      <button *ngIf="isAdmin()" (click)="openReports()" style="margin-right: 10px" mat-raised-button>Reports</button>
  		<button *ngIf="!isAdmin()" (click)="openProfile()" style="margin-right: 10px" mat-raised-button><mat-icon>person</mat-icon> My Profile</button>
   		 <button (click)="logout()" mat-raised-button><mat-icon>exit_to_app</mat-icon> Logout</button>
  	</div>
  </div>
</mat-toolbar-row>
</mat-toolbar>