.menu-toolbar {
	background-color : #212121;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	flex-shrink: 2;
	cursor: pointer;
}

.logo {

}

.search {
	margin-right: 10px;
}

.searchInput {
	background: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: #FFFFFF;
    font-size: 13pt;
    padding: 2px;
    width: 150px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 0;
	flex-shrink: 0;
}

::ng-deep .mat-search {
	line-height: 20px;
}

::placeholder {
	color: #FFFFFF;
}

textarea:focus, input:focus{
    outline: none;
}