.error {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 12pt;
	color: red;
}

.image {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 12pt;
	color: grey;
	text-align: left;
	padding-left: 10px;
}