<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	<div style="margin:auto; text-align: center">
		<mat-form-field> 
			<input formControlName="username" matInput placeholder="Username">
		</mat-form-field>

		<br/>

		<mat-form-field> 
			<input formControlName="name" matInput placeholder="Name">
		</mat-form-field>

		<br/>

		<mat-form-field> 
			<input formControlName="email" matInput placeholder="Email" [errorStateMatcher]="confirmValidParentMatcher">
			<mat-error>
				Invalid email!
			</mat-error>
		</mat-form-field>

		<br/>

		<div formGroupName="matchingPasswords">
			<mat-form-field>
				<input type="password"  formControlName="password" matInput placeholder="Password">
			</mat-form-field>
			<br/>

			<mat-form-field>
				<input type="password" formControlName="confirmPassword" matInput placeholder="Confirm password"
				[errorStateMatcher]="confirmValidParentMatcher">
				<mat-error>
					{{ formError }}
				</mat-error>
			</mat-form-field>
			
			<br/>
			<br/>
				
		</div>

		<div class="image">Profile picture</div>
		<br/>
		<input style="width:90%" type="file" formControlName="image" type="file" (change)="onFileChanged($event)" />

		<br/><br/>

		<button mat-raised-button style="margin-left: auto; margin-right: auto; color: white; background-color: #212121" (click)="onSubmit()">Register</button>

		<br/><br/>

		<div class="error">
			{{ errorMessage }}
		</div>
	</div>
</form>
