<mat-card class="meme-card">
  <mat-card-header *ngIf="!isProfile" style="cursor: pointer;" (click)="openProfile(meme?.user?.username)">
    <div mat-card-avatar [style.background-image]="userImage" class="meme-user-image"></div>
    <mat-card-title> {{ meme?.user?.username }}  </mat-card-title>
    <mat-card-subtitle> {{ meme?.user?.name }} </mat-card-subtitle>
  </mat-card-header>

 <div *ngIf="isProfile && isCurrentUser()" style="padding-right: 0" ><mat-icon style="margin-right: 0; margin-left: auto; cursor: pointer;" (click)="deleteMeme()">delete</mat-icon></div>

<a style="text-decoration: none; color: #000000;" [routerLink]="['/meme', meme?.id]">

  <img class="responsive-img" src="{{ server + meme?.image }}" alt="Photo of a Shiba Inu">  
  

  <mat-card-content>
    <p>
      {{ meme?.title }}
    </p>
  </mat-card-content>
</a>
  <mat-card-actions *ngIf="isLoggedIn()" style="text-align: center;">
    <button *ngIf="!isDisliked && !isLiked" (click)="like()" mat-button>{{ likes }}<mat-icon >thumb_up_alt</mat-icon></button>
    <button *ngIf="isDisliked" disabled="true"  mat-button>{{ likes }}<mat-icon >thumb_up_alt</mat-icon></button>
    <button *ngIf="isLiked" (click)="unreact()" mat-button>{{ likes }}<mat-icon style="color: #3f51b5">thumb_up_alt</mat-icon></button>
    <button *ngIf="!isDisliked && !isLiked" (click)="dislike()" mat-button>{{ dislikes }}<mat-icon>thumb_down_alt</mat-icon></button>
    <button *ngIf="isLiked" disabled="true" mat-button>{{ dislikes }}<mat-icon>thumb_down_alt</mat-icon></button>
    <button *ngIf="isDisliked" (click)="unreact()" mat-button>{{ dislikes }}<mat-icon style="color: #f44336">thumb_down_alt</mat-icon></button>

  </mat-card-actions>
</mat-card>