.meme-card {
  max-width: 300px;
  min-width: 300px;
}

.responsive-img {
   width: 100%;
   object-fit: cover;
   height: 300px;
   margin-top: 10px !important;
}

.meme-user-image {
  background-size: cover;
}