<form [formGroup]="commentForm">
	<div style="margin:auto; text-align: center; display: flex; flex-direction: column;">
		<mat-form-field> 
			<input formControlName="content" matInput placeholder="Write your comment here...">
		</mat-form-field>
		<br/>
		<div style="display: flex; flex-direction: row">
			<div style="width: 50%;text-align: center" >
				<button mat-raised-button style="margin-left: auto; margin-right: 10px; color: white; background-color: #212121" (click)="onSubmit()">Leave comment</button>
			</div>

			<div style="width:50%; text-align: center">
				<button mat-raised-button style="margin-left: auto; margin-right: auto; color: white; background-color: #212121" (click)="cancel()">Cancel</button>
			</div>
		</div>
	</div>
</form>
