<app-toolbar></app-toolbar>

<div class="main-div" style="min-width: 300px">
	<mat-tab-group>
		<mat-tab label="Recent"> 
			<app-meme-grid [isProfile]="false" [memes]="recentMemes"> </app-meme-grid>
		</mat-tab>

		<mat-tab label="Popular"> 
			<app-meme-grid [isProfile]="false" [memes]="popularMemes"> </app-meme-grid>
		</mat-tab>
	</mat-tab-group>
</div>
