::ng-deep .mat-tab-labels{
    justify-content: center; /* align items in Main Axis */
}

.card-meme {
  width: 100%;
  margin-bottom: 2%;
}

.main-div {
	text-align: center; 
	padding-top: 20px; 
	width:70%; 
	margin:auto
}