.meme-user-image {
  background-size: cover;
}

.responsive-img {
	display: block;
	max-width:100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

..mat-column-delete {
	flex: 0 0 35px;
}

.main-div {
	text-align: center; 
	padding-top: 20px; 
	width:70%; 
	margin:auto
}