<app-toolbar></app-toolbar>

<div class="main-div" style="min-width: 700px;display:flex; flex-direction: row; height: auto">

	<div style="width:55%; display:flex; flex-direction: column; text-align: center">
		<h2 class="title">{{ meme?.title }}</h2>
		<img class="responsive-img" src="{{ server + meme?.image }}" alt="Photo of a Shiba Inu">
	</div>

	<div style="width: 45%; padding-top: 68px">
		<mat-card style="width:100%; height: auto">
			<mat-card-header style="cursor: pointer;" (click)="openProfile(meme?.user?.username)">
				<div mat-card-avatar [style.background-image]="userImage"  class="meme-user-image"></div>
				<mat-card-title> {{ meme?.user?.username }}  </mat-card-title>
				<mat-card-subtitle> {{ meme?.user?.name }} </mat-card-subtitle>
			</mat-card-header>
			<mat-card-actions *ngIf="isLoggedIn()" >
				<button *ngIf="!isLiked && !isDisliked" (click)="like()" mat-button>{{ likes }}<mat-icon >thumb_up_alt</mat-icon></button>
				<button *ngIf="isDisliked" disabled="true"  mat-button>{{ likes }}<mat-icon >thumb_up_alt</mat-icon></button>
				<button *ngIf="isLiked" (click)="unreact()" mat-button>{{ likes }}<mat-icon style="color: #3f51b5">thumb_up_alt</mat-icon></button>
				<button *ngIf="!isDisliked && !isLiked" (click)="dislike()" mat-button>{{ dislikes }}<mat-icon>thumb_down_alt</mat-icon></button>
				<button *ngIf="isLiked" disabled="true" mat-button>{{ dislikes }}<mat-icon>thumb_down_alt</mat-icon></button>
				<button *ngIf="isDisliked" (click)="unreact()" mat-button>{{ dislikes }}<mat-icon style="color: #f44336">thumb_down_alt</mat-icon></button>

				<button (click)="comment()" mat-button> <mat-icon>comment</mat-icon></button>
			</mat-card-actions>

			<div style="width:100%; display: flex; flex-direction: column; ">
				<table mat-table [dataSource]="comments" class="mat-elevation-z8">
					<ng-container matColumnDef="user">
						<th mat-header-cell *matHeaderCellDef> User </th>
						<td mat-cell *matCellDef="let element" style="width:60px; cursor: pointer" (click)="openProfile(element?.user?.username)">
							{{ element?.user?.username }}
						</td>
					</ng-container>

					<ng-container matColumnDef="comment">
						<th mat-header-cell *matHeaderCellDef> Comment </th>
						<td mat-cell *matCellDef="let element"  > {{element.content}} </td>
					</ng-container>

					<ng-container matColumnDef="delete">
						<th mat-header-cell *matHeaderCellDef> Delete </th>
						<td mat-cell style="padding-right: 0px" *matCellDef="let element"> 
							<mat-icon style="cursor: pointer;" (click)="deleteComment(element.id)" *ngIf="isLoggedIn() && element.username == currentUsername()" >delete</mat-icon>
						</td>
					</ng-container>

					<tr style="text-align: left; height:70px" mat-row *matRowDef="let row; columns: ['user', 'comment', 'delete'];"></tr>
				</table>
			</div>
		</mat-card>
	</div>
</div>
